/* 초기화 */
* {
margin: 0;
padding: 0;
font: normal 12px '고딕';
}

ul, ol {list-style: none;}
a {text-decoration: none; color: #111;}
input, textarea {outline: none;}

#wrapper {
width: 100%;
height: auto;
}
/* 헤더 */
header {
width: 100%;
height: 197px;
border: 1px solid red;
box-sizing: border-box;
}
header > div {
width: 100%;
border: 1px solid blue;
box-sizing: border-box;
}
header > div:nth-child(1) {height: 35px;}
header > div:nth-child(2) {height: 115px;}
header > div:nth-child(3) {height: 46px;}
header > div > div {
width: 1200px;
height: 100%;
border: 1px solid green;
box-sizing: border-box;
margin: 0 auto;
}
/* 헤더 첫번째 div */
header > .top > ul {
width: 1200px;
height: 100%;
margin: 0 auto;
}
header > .top > ul > li {
float: right;
height: 100%;
border-left: 1px solid #e9e9e9;
margin-bottom: -1px;
font-size: 0.92em;
}
header > .top > ul > li > a {
display: inline-block;
padding: 0 10px;
color: #646464;
line-height: 35px;
border-bottom: 1px solid #e9e9e9;
}
/* 헤더 두번째 div */
header > .hd > div > .logo {
display: inline-block;
padding-top: 20px;
}
header > .hd > div > form {
position: absolute;
top: 58px;
left: 50%;
width: 432px;
margin-left: -215px;
}
header > .hd > div > form > input[type=text] {
padding-left: 10px;
height: 45px;
background: #fff;
border: 1px solid #000;
width: 370px;
border-right: 0;
float: left;
border-radius: 5px 0 0 5px;
font-size: 1.25em;
}
header > .hd > div > form > button {
height: 47px;
background: #fff;
border: 1px solid #000;
border-left: 0;
color: #333;
width: 50px;
float: left;
cursor: pointer;
border-radius: 0 5px 5px 0;
font-size: 18px;
}
/* 헤더 세번째 div */
header > div .menu {
height: 46px;
background: #f2f2f2;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
}
header > div .menu > ol {
width: 1200px;
height: 100%;
padding: 15px 0;
margin: 0 auto;
box-sizing: border-box;
border: 1px solid yellow;
overflow: hidden;
position: relative;
}
header > div .menu > ol.left {float: left;}
header > div .menu > ol.right {
float: right;
position: absolute;
}
header > div .menu > ol > li.left {float: left;}
header > div .menu > ol > li.right {float: right;}
header > div .menu > ol > li {
line-height: 14px;
border-right: 1px solid #ddd;
}
header > .menu > ol > li > a {
display: block;
padding: 0 10px;
}
/* 푸터 */
footer {
width: 100%;
height: 192px;
border-top: 1px solid #e9e9e9;
background: #f8f8f8;
box-sizing: border-box;
}
footer > ul {
width: 1200px;
height: 39px;
margin: 0 auto;
padding: 15px 0;
border-bottom: 1px solid #e9e9e9;
text-align: center;
}
footer > ul li {
border-left: 1px solid #d7d7d7;
display: inline-block;
font-weight: bold;
border-right: 1px solid #d7d7d7;
}
footer > div {
width: 1200px;
height: 100%;
padding-top: 20px;
margin: 0 auto;
}
footer > div > p {
float: left;
height: 100%;
font-size: 11px;
line-height: 15px;
color: #676767;
font-size: dotum,"돋움";
}
footer p:nth-of-type(2) {
width: 300px;
margin-left: 30px;
margin-right: 30px;
}
footer p > strong {
display: inline-block;
padding: 6px 15px 7px 0;
color: #464646;
font-size: 12px;
font-weight: bold;
}
/* 메인(index.html) */
main {
position: relative;
width: 1200px;
min-height: 600px;
margin: 0 auto;
overflow: hidden;
}
/* 사이드 부분 */
main > aside {
position: absolute;
left: 0;
top: 0;
width: 215px;
height: 100%;   /*flaot 하면 100% 적용 안됨*/
border: 1px solid blue;
box-sizing: border-box;
}
main > aside > .category {
width: 100%;
padding: 0 0 10px;
background: #333949;
position: relative;
height: 425px;
box-sizing: border-box;

}
main > aside > .category > li {
border-bottom: 1px solid #2b313f;
background: none;
text-align: left;
height: 40px;
font-weight: bold;
}
main > aside > .category > li > a {
display: block;
padding: 0 20px;
line-height: 40px;
color: #ccc;
font-weight: bold;
text-decoration: none;
font-size: 1em;
}
main > aside > .category > li > ol {
position: absolute;
left: 215px;
top: 0px;
z-index: 10000;
width: 215px;
height: 100%;
padding: 10px;
background: #fff;
border: 1px solid #787f89;
border-top: none;
}
/* main 섹션 부분 */
main > section {
float: right;
width: 985px;
height: 100%;
border: 1px solid red;
box-sizing: border-box;
}
#main > section {
width: 100%;
min-height: 700px;
border: 1px solid blue;
box-sizing: border-box;
overflow: hidden;
border-top: 1px solid #ececec;
padding: 10px;
}
#main > .slider {
min-height: initial;
height: 425px;
}
/* 배너 아래 부분 */
#main > section > h1 {
display: block;
}
#main > section > h1 > a {
display: inline-block;
font-weight: bold;
font-size: 1.5em;
margin: 10px;
padding: 0 0 7px;
border-bottom: 2px solid #000;
line-height: 1em;
}
#main > section > article {
float: left;
width: 25%;
min-height: 300px;
border: 1px solid green;
box-sizing: border-box;
}

main > section > .hit > article > a {
display: block;
width: 100%;
height: 100%;
padding: 10px;
}
main > section > .hit > article > .thumb {
width: 100%;
height: 230px;
margin: 0px auto;
overflow: hidden;
text-align: center;
}
main > section > .hit > article > h2 {
font-size: 15px;
margin-top: 4px;
text-align: center;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}
main > section > .hit > article > p {
color: #222;
font-size: 12px;
line-height: 16px;
margin: 4px 0;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}
main > section > section > article > div > del {
font-size: 12px;
color: #aaa;
}
main > section > section > article > div > span {
color: #eb000a;
font-size: 12px;
}
main > section > section > article > div > ins {
font-size: 14px;
text-decoration: none;
}
main > section > section > article > .dis_price > span {
display: inline-block;
font-size: 0;
vertical-align: text-bottom;
width: 55px;
height: 13px;
background: url(./img/ico_freeshipping.gif) no-repeat;
}
main > section > .recommend {}
main > section > .new {}
main > section > .discount {}
/* 상품(product)공통 */
main > section > nav {
width: 100%;
height: 36px;
margin-bottom: 20px;
border-bottom: 1px solid #000;
box-sizing: border-box;
}
main > section > nav > h1 {
display: inline-block;
font-weight: bold;
font-size: 1.5em;
padding: 0 0 7px;
line-height: 1em;
}
main > section > nav > p {
float: right;
margin-top: 10px;
}
main > section > nav > p > span {}
main > section > nav > p > strong {
font-weight: bold;
}
/* 페이징 공통 */
main > section > .paging {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}
main > section > .paging > .preview {}
main > section > .paging > .preview > a {
    color: rgb(119, 119, 119);
    font-size: 11px;
    letter-spacing: -1px;
}

main > section > .paging > .num {}
main > section > .paging > .num > a.on {

}
main > section > .paging > .num > a {
    display: inline-block;
    min-width: 14px;
    margin: 0 2px;
    padding: 8px 9px;
}

main > section > .paging > .next {}
main > section > .paging > .next > a {}