* {
    margin: 0;
    padding: 0;
    font: normal 12px '고딕';
}
ul, ol {list-style: none;}
a {text-decoration: none; color: #111;}
input, textarea {outline: none;}

#wrapper {
    width: 100%;
    height: auto;
}
/* 헤더 */
header {
    width: 100%;
    height: 120px;
    background: url(../img/admin_bg_header.jpg);
    position: relative;
}
header > a.logo {
    display: inline-block;
    margin-top: 40px;
    margin-left: 10px;
}
header > p {
    position: absolute;
    right: 10px;
    bottom: 60px;
    color: #fff;
}
header > p > span {
    margin-top: 10px;
}
header > p > a {
    color: #fff;            
}
/* 푸터 */
footer {
    width: 100%;
    height: 60px;
    background: #0d3a46;
}
footer > p {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    color: #efefef;
}
/* 메인 */
main {
    overflow: hidden;
    width: 1400px;
    min-height: 600px;
    margin: 0 auto;
}
main > aside {
    float: left;
    width: 270px;
    height: 100%;
    border-left: 1px solid #c0c0c0;
    box-sizing: border-box;
    background-image: url(../img/admin_bg_aside.jpg);
}
main > section {
    float: right;
    width: 1130px;
    min-height: 600px;
}
/* gnb(global navigation bar) */
#gnb {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
#gnb > li {
    width: 100%;
    min-height: 66px;
    border-top: 1px solid #c0c0c0;
    box-sizing: border-box;
}
#gnb > li:last-child {border-bottom: 1px solid #c0c0c0;}
#gnb > li > a {
    display: block;
    width: 100%;
    height: 66px;
    font-size: 14px;
    font-weight: bold;
    color: #222;
    text-indent: 12px;
    line-height: 66px;
}
#gnb > li > a:hover {color: #555;}
#gnb > li > a > i {
    font-size: 20px;
    margin-right: 12px;
}
#gnb ol {
    display: none;
    width: 100%;
    height: auto;
}
#gnb ol > li {
    width: 100%;
    height: 32px;
}
#gnb ol > li > a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: 56px;
}
#gnb ol > li > a:hover {font-weight: bold;}
/* 네비게이션 공통 */
/* 네비게이션 */
main > section > nav {
    width: 100%;
    height: 46px;
    margin-bottom: 16px;
    border-bottom: 1px solid #c0c0c0;
    box-sizing: border-box;
    position: relative;
}
main > section > nav > h3 {
    position: absolute;
    left: 0; 
    bottom: 10px;
    font-size: 20px;
    font-weight: normal;
}
main > section > nav > p {
    position: absolute;
    right: 0;
    bottom: 10px;
}
main > section > nav > p > strong {font-weight: bold;}

/* 페이징 공통 */
main .paging {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}
main .paging > .preview {}
main .paging > .preview > a {
    color: rgb(119, 119, 119);
    font-size: 11px;
    letter-spacing: -1px;
}

main .paging > .num {}
main .paging > .num > a.on {
    color: #fe434c;
    font-weight: bold;
}
main .paging > .num > a {
    display: inline-block;
    min-width: 14px;
    margin: 0 2px;
    padding: 8px 9px;
    border: 1px solid #c4c4c4;
    background: url() 0 0 repeat-x;
    color: #000;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}
main .paging > .next {}
main .paging > .next > a {
    color: rgb(119, 119, 119);
    font-size: 11px;
    letter-spacing: -1px;
}